.div_1
{
	border:2px solid black;
	width:800px;
	margin-left:320px;
	text-align:center;
	background-color:lightgreen;
	font-family: 'Roboto Slab', serif;
	display:block-inline;
	color: #17202a;
	border-radius:6px;
	box-shadow:4px 4px 4px 4px;
	
}
.div_2
{
	border:2px solid black;
	width:800px;
	height:900px;
	background-color: #fad7a0 ;
	margin-left:320px;
	border-radius:6px;
	box-shadow:4px 4px 4px 4px;
}
.form_1
{
		margin-left:190px;
		margin-top:50px;
}
.label_1
{
		
		font-family:'Roboto Slab', serif;
		font-size:25px;
		text-align:left;
		color: #1f618d;
		font-weight:800;
		

}
.input_1
{
	background-color: #fef5e7 ;
	width:380px;
	height:32px;
	font-size:16px;
	margin-top:5px;
	box-shadow:2px 2px;
}

.input_1:hover
{
		background-color:#d2b4de;
}
.select_1
{
	border:2px solid black;
	width:380px;
	height:32px;
	background-color:#fef5e7;
	box-shadow:2px 2px;
}
.select_1:hover
{
	background-color:#d2b4de;

}


